:root {
    --back-color: #11001c;
    --main-color: #35012c;
    --sub-color: #3a015c;
    --color: #4f0147;
}

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    background-color: var(--back-color);

    margin: 0;
    height: 100vh;
    transition: all 1s;
}

.container {
    border: 2px solid rgba(219, 216, 216, 0.5);

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    padding: 2em;
}

input {
    border: none;
    border-radius: 0.8em;
    height: 25px;

    padding: 0.3em;
    outline: none;
}

button {
    background-color: var(--sub-color);
    color: white;
    font-weight: bold;

    border: none;
    border-radius: 0.5em;
    height: 35px;

    padding: 0.5em;
}

button, input {
    margin-bottom: 20px;
}

.passwords {
    width: 100%;
    padding: 0;

    display: table-cell;
}

ul {
    columns: 2 100px;
    padding: 10px;
    margin: 0;

    list-style: none;
}

li {
    text-align: center;
    width: 200px;
    height: 25px;

    display: inline-block;
    margin: 10px;
    padding: 0.5em;

    color: black;
    background-color: var(--color);
    border-radius: 5px;
}