:root {
    --back-color: #11001c;
    --main-color: #35012c;
    --sub-color: #3a015c;
}

body {
    color: white;
    background-color: var(--back-color);

    margin: 0;
    height: 100vh;
    transition: all 1s;
}

.container {
    border: 2px solid white;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}