:root {
    --back-color: #11001c;
    --main-color: #35012c;
    --sub-color: #3a015c;
}

body {
    color: white;
    background-color: var(--back-color);

    height: 100%;
    transition: all 1s;
}